
.container {
  //background: #001529;
  background: url('../../images/background.png') no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  & .ant-spin-dot-item{
    background-color:#ffffff ;
  }
  & .ant-spin-nested-loading > div > .ant-spin .ant-spin-text{
    color:#ffffff;
    font-size: 16px;
  }
  & .ant-alert{
    padding: 4px 14px;
  }
  & .loginWrapper {
    width: 40%;
    max-width: 50%;
    margin: auto;
    height: 100vh;
    display: flex;
    align-items: center;
    & .ant-spin-nested-loading{
      width:100%
    }

    & .loginFormContainer {
      background: #fff;
      border-radius: 4px;
      width: 100%;

      & .loginHeading {
        color: #204ecf;
        font-weight: 600;
        text-align: center;
        padding-top: 12px;
      }

      & .loginForm {
        display: flex;
        flex-wrap: wrap;
        padding-top: 15px;
        & .inlineFormItem{
          width: 80%;
          margin-left: auto;
          margin-right: auto;
          justify-content: space-between;
          & .ant-row.ant-form-item{
            width:100%
          }
        }
        & label {
          color: #001529;
        }

        & .ant-row.ant-form-item {
          width: 80%;
          margin-left: auto;
          margin-right: auto;
        }

        & .submitBtn {
          width: 100%;
          display: block;
          margin-bottom: 10px;
          margin-top: 6px;
          border: none;
        }
        & .linksWrapper {
          display: flex;
          justify-content: space-between;
          & .commonLoginLink {
            padding: 0;
          }
        }
      }
    }
  }
}



